@model JanuszMarcinik.Mvc.Domain.DataSource.Grid.GridModel

@{
    ViewBag.Title = Model.Title;
}

<h2 class="center-block">
    <span class="label label-primary center-block">@ViewBag.Title</span>
</h2>

@using (var panel = Html.Bootstrap().Begin(new Panel()))
{
    using (panel.BeginBody())
    {
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="active">
                    <th class="text-center">L/p</th>
                    @foreach (var prop in Model.Properties.Where(x => x.PropertyName != "Id"))
                    {
                        if (!string.IsNullOrEmpty(prop.DisplayName))
                        {
                            <th class="text-center">@prop.DisplayName</th>
                        }
                    }
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var row in Model.Rows)
                {
                    <tr class="edit-item-row" data-href="@Url.Action(row.EditActionAsync.AddRouteValue(row.PrimaryKeyName, row.PrimaryKeyId))">
                        <td>@(Model.Rows.IndexOf(row) + 1)</td>
                        @foreach (var item in row.Values)
                        {
                            <td>@item</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }

    using (panel.BeginFooter())
    {
        <div class="btn-group">
            @Html.Bootstrap().AddButton(Model.AddAction)
            @Html.Bootstrap().BackButton(Model.BackAction)
        </div>
    }
}

<script type="text/javascript">

    $(".edit-item-row").click(function () {
        window.location = $(this).data("href");
    });

</script>

<style>

    .edit-item-row {
        cursor: pointer;
    }

</style>