@using JanuszMarcinik.Mvc.Domain.DataSource.Grid
@model JanuszMarcinik.Mvc.Domain.DataSource.Grid.GridModel

@{
    ViewBag.Title = Model.Title;
}

<h2 class="center-block">
    <span class="label label-primary center-block">@ViewBag.Title</span>
</h2>

@using (var panel = Html.Bootstrap().Begin(new Panel()))
{
    using (panel.BeginBody())
    {
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="active">
                    <th class="text-center">L/p</th>
                    @foreach (var prop in Model.Properties.Where(x => x.PropertyName != "Id"))
                    {
                        if (!string.IsNullOrEmpty(prop.DisplayName))
                        {
                            if (Model.ListAction == null)
                            {
                                <th class="text-center">
                                    @prop.DisplayName
                                </th>
                            }
                            else
                            {
                                if (prop.IsOrderByAsc)
                                {
                                    <th class="text-center clicable-action text-primary" data-href="@Url.Action(Model.ListAction.AddRouteValue("orderBy", prop.PropertyName).AddRouteValue("sortOrder", GridSortOrder.DESC))">
                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                        @prop.DisplayName
                                    </th>
                                }
                                else if (prop.IsOrderByDesc)
                                {
                                    <th class="text-center clicable-action text-primary" data-href="@Url.Action(Model.ListAction.AddRouteValue("orderBy", prop.PropertyName).AddRouteValue("sortOrder", GridSortOrder.ASC))">
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        @prop.DisplayName
                                    </th>
                                }
                                else
                                {
                                    <th class="text-center clicable-action text-primary" data-href="@Url.Action(Model.ListAction.AddRouteValue("orderBy", prop.PropertyName).AddRouteValue("sortOrder", GridSortOrder.ASC))">
                                        @prop.DisplayName
                                    </th>
                                }
                            }
                        }
                    }
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var row in Model.Rows)
                {
                    <tr class="clicable-action" data-href="@Url.Action(row.EditActionAsync.AddRouteValue(row.PrimaryKeyName, row.PrimaryKeyId))">
                        <td>@(Model.Rows.IndexOf(row) + 1)</td>
                        @foreach (var item in row.Values)
                        {
                            <td>@item</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }

    using (panel.BeginFooter())
    {
        <div class="btn-group">
            @Html.Bootstrap().AddButton(Model.AddAction)
            @Html.Bootstrap().BackButton(Model.BackAction)
        </div>
    }
}

<script type="text/javascript">

    $(".clicable-action").click(function () {
        window.location = $(this).data("href");
    });

</script>

<style>

    .clicable-action {
        cursor: pointer;
    }

</style>