@model JanuszMarcinik.Mvc.WebUI.Areas.Example.Models.ExampleParents.ExampleParentViewModel

@{
    ViewBag.Title = "Usuwanie parenta";
}

<h2 class="center-block">
    <span class="label label-danger center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)

            @form.FormGroup().TextBoxFor(x => x.Text).Readonly(true)
            @form.FormGroup().TextAreaFor(x => x.LongText).Readonly(true)
        }

        using (panel.BeginFooter())
        {
            <div class="btn-group">
                @Html.Bootstrap().SubmitDeleteButton()
         
            </div>
        }
    }
}