@model JanuszMarcinik.Mvc.WebUI.Areas.Example.Models.ExampleParents.ExampleParentViewModel

@{ 
    ViewBag.Title = JMap.Example.ExampleParents.Edit(Model.Id).Title;
}

@Html.Breadcrumbs(Url,
    JMap.Default.Home.Index(),
    JMap.Example.ExampleParents.List(),
    JMap.Example.ExampleParents.Edit(Model.Id))

@using (var form = Html.Bootstrap().Begin(new Form().Upload()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)

            <div class="row">
                <div class="col-sm-6">
                    @form.FormGroup().TextBoxFor(x => x.Text)
                    @form.FormGroup().TextAreaFor(x => x.LongText)
                </div>
                <div class="col-sm-6">
                    @if (Model.Photo == null)
                    {
                        @form.FormGroup().FileFor(x => x.Upload)
                    }
                    else
                    {
                        <img class="img-rounded img-thumbnail" height="300" src="~/Images/@Model.Photo.Path" />
                        @form.FormGroup().CheckBoxFor(x => x.RemovePhoto)
                    }
                </div>
            </div>
        }
    }

    @Html.ButtonsFooter(
        Html.Bootstrap().SubmitSaveButton(),
        Html.Bootstrap().ListButton(JMap.Example.ExampleChildrens.List(Model.Id)),
        Html.Bootstrap().BackButton(JMap.Example.ExampleParents.List()),
        Html.Bootstrap().ConfirmDeleteButton())
}

@Html.Action(JMap.Example.ExampleParents.Delete(Model.Id))