@using JanuszMarcinik.Mvc.JMap
@model JanuszMarcinik.Mvc.WebUI.Areas.Example.Models.ExampleParents.ExampleParentViewModel

@{ 
    ViewBag.Title = JMap.Example.ExampleParents.Edit(Model.Id).Title;
}

@Html.Breadcrumbs(Url,
    JMap.Default.Home.Index(),
    JMap.Example.ExampleParents.List(),
    JMap.Example.ExampleParents.Edit(Model.Id))

@using (var form = Html.Bootstrap().Begin(new Form()))
{
    using (var panel = Html.Bootstrap().Begin(new Panel()))
    {
        using (panel.BeginBody())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)

            <div class="row">
                <div class="col-sm-6">
                    @form.FormGroup().TextBoxFor(x => x.Text)
                    @form.FormGroup().TextAreaFor(x => x.LongText)
                </div>
            </div>
        }

        using (panel.BeginFooter())
        {
            <div class="btn-group">
                @Html.Bootstrap().SubmitSaveButton()
                @Html.Bootstrap().ListButton("Example childrens", MVC.Example.ExampleChildrens.List(Model.Id))
                @Html.Bootstrap().BackButton(MVC.Example.ExampleParents.List())
            </div>

            <div class="btn-group pull-right">
                @Html.Bootstrap().Button().Style(ButtonStyle.Danger).PrependIcon(FontAwesome.remove).Text("Usuń").TriggerModal("deleteConfirm")
            </div>
        }
    }
}

@Html.Action(MVC.Example.ExampleParents.Delete(Model.Id))