@using JanuszMarcinik.Mvc.WebUI.Areas.Identity.Models.Account
@model LoginViewModel
@{
    ViewBag.Title = JMap.Account.Account.Login().Title;
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-sm-8">
            @using (var form = Html.Bootstrap().Begin(new Form().Class("form-horizontal")
                .LabelWidthSm(2).InputWidthSm(10)))
            {
                @Html.AntiForgeryToken()
                <h4>Logowanie przy użyciu lokalnego konta</h4>
                <hr />
                @Html.Bootstrap().ValidationSummary().Class("text-danger")
                @form.FormGroup().TextBoxFor(m => m.Email)
                @form.FormGroup().PasswordFor(m => m.Password)
                @form.FormGroup().CheckBoxFor(m => m.RememberMe)
                
                @Html.Bootstrap().SubmitButton().Text("Zaloguj").Class("col-sm-offset-2")
                <hr />
                <p>@Html.Bootstrap().ActionLink("Utwórz nowe konto", MVC.Account.Account.Register())</p>
                <p>@Html.Bootstrap().ActionLink("Zapomniałem hasła", MVC.Account.Account.ForgotPassword())</p>
            }
    </div>
    <div class="col-sm-4">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}